body {
	/* font-family: monospace; */
	font-family: cursive;
	/* background-color: #f2f2ed; */
	/* background-color: #68685e; */
	/* background-color: #272725; */
	background-color: #3c3c35;
}

nav div {
	background-color: #151515;
	padding: 10px;
	margin-left: 10px;
	display: inline-block;
	/* border-right-style: dotted; */
	/* border-right-color: white; */
	/* border-right-width: 1px; */
	/* width: 200px; */
	display: flex;
	flex-direction: row;
}

nav div div:hover {
	/* background-color: #9ca93d; */
	background-color: #798144;
}

nav div:hover {
	/* background-color: #68685e; */
	background-color: #646450;
}

nav a {
	font-size: xxx-large;
}

/* nav div:first-child  div {
  background-color: black;
  color: white;
}*/

nav div div {
	width: 300px;
}

nav div div a {
	color: rgb(178, 187, 201);
}

div {
	/* border-style: dotted; */
	/* border-color: white; */
	/* border-width: 1px; */

	display: flex;
	flex-direction: column;
}

section {
	display: flex;
	flex-direction: column;
}

span {
	/* border-style: dashed; */
	/* border-color: #aaaaaa; */
	/* border-width: 1px; */
	/* border-bottom-width: 0px; */
	/* border-right-width: 0px; */
}

a {}

.verses,
a {
	color: rgb(153, 168, 183);
}

/* nav div div:first-child {
  background-color: black;
  color: white;
}
nav div div:first-child:hover {
  background-color: #545454;
} */

nav {
	margin-bottom: 20px;
}

/* mouse-over:hover = color  */
div:hover {
	/* background-color: #acae84; */
	/* background-color: #e5e6e0; */
	/* background-color: #68685e; */
	background-color: #42423c;
}

div div:hover {
	/* background-color: #e2e2db; */
	/* background-color: #68685e; */
	background-color: #42423c;
}

div div div:hover {
	/* background-color: #fefff0; */
	background-color: #3f3f3a;
}

div div div div:hover {
	/* background-color: #f1eee7; */
	background-color: #52524a;
}

div div div div div:hover {
	/* background-color: #f7f6f4; */
	background-color: #5c5c53;
}

.lookup-word {
	background-color: #302e36;
	/* font-size: x-large; */
}

.prevent-select {
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
}

.lookup-summary {
	background-color: #423f39;
	color: #a2a28b;
	font-size: large;
}

.path-trace {
	display: flex;
	flex-direction: row;
	max-width: 70%;
	flex-wrap: wrap;
}

.pathid {
	color: antiquewhite;
}

.path-trace-block {
	display: flex;
	flex-direction: column;
	width: 170px;

}

.loc-path * {
	display: inline-block;

}

.path-trace-block a {
	display: inline;
}

div.path-trace-block:last-child :last-child span {
	background-color: rgb(112, 109, 89);
}

.verses div {
	font-size: xxx-large;
}

.lookup-words div {
	padding-top: 30px;
	font-size: x-large;
	color: #ACACAC;
}

.ref-nav a {
	font-size: xxx-large;
}

.bible-ref {
	font-size: large;
}

span.bible-ref :hover {
	background-color: rgb(185, 181, 176);
}

input {
	width: 400px;
	margin-bottom: 12px;
}

textarea {
	width: 400px;
	height: 100px;
	margin-bottom: 12px;
}

label {
	width: 15%;
}

div {
	padding-left: 10px;
}

/* @media screen and (max-width: 900px) {
  div{
      font-size: xx-large;
      word-break: break-all;

  }
  nav div {
    display: flex;
    flex-direction: column;
  }

} */

/* svg,
html body svg:not(:root) {
    overflow: visible !important;
} */

div#joystick {
	display: flex;
	flex-direction: row;
	position: sticky;

	top: 0px;
	left: 0px;
	right: 20%;

}

#joystick button {
	font-size: xxx-large;
	width: 200px;
}

.container {
	max-width: 100%;
	max-height: 90%;
}