<!doctype html>

<head>
  <title>{% block title %}{% endblock %} @ The Book Of The Law and The Truth</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body style="font-family: monospace;">
  <nav>
    <!-- <div> -->

    <div>
      <div>
        <a href="/source">src</a>
      </div>
      <div> 
        <a href="/plan">doc</a>
      </div>
      <div>
        <a href="/revelation">rev</a>
      </div>
      <div>
        <a id='change-font' href="#" onclick="cycleFont()">font</a>
				<span id="current-font"><script>document.write(document.body.style.fontFamily)</script></span>
      </div>
      <div>
        <a id='change-lang' href="/lang/{{'pl' if session['lang']=='en' else 'en'}}/{{request.path.split('/',2)[2]}}" >lang</a>
				<span id="current-lang">{{session['lang']}}</span>
      </div>
    </div>

  </nav>
  <section class="content">
    <header class="mx-4">
      {% block header %}{% endblock %}
    </header>
    <section class="container xxxborder">
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>

  </section>
  <script>
const fonts = ['courier','coursive', 'times new roman', 'georgia', 'arial', 'monospace'];
let fontIndex = 0;

function cycleFont() {
  const element = document.getElementsByTagName('BODY');
	console.log(element)
  fontIndex = (fontIndex + 1) % fonts.length;
  document.body.style.fontFamily= `${fonts[fontIndex]}`;
	document.getElementById('current-font').textContent = fonts[fontIndex].slice(0,10)
}
// const colors = ['courier','coursive', 'times new roman', 'georgia', 'arial', 'monospace'];
// let colorIndex = 0;

// function cycleColor() {
//   const element = document.getElementsByTagName('BODY');
// 	console.log(element)
//   colorIndex = (colorIndex + 1) % colors.length;
//   document.body.style.color= `${fonts[fontIndex]}`;
// 	document.getElementById('current-font').textContent = fonts[fontIndex].slice(0,10)
// }
  </script>
</body>