{% extends 'base.html' %} 
{% block title %}{{'.'.join(ref[1:])}}{% endblock %}
{% block header %}
<h1></h1>
{% endblock %} 

{% block content %}

<span title="Path started at">@{{session.uid}}</span>
<div class="path-trace">

	{% for ref in session.paths %}
	{% set pathref = ref.split('/') %}
	{% if loop.index0 % 5 == 0 %}
	<div class="path-trace-block">
		{%endif %}
		<span class="loc-path">
			<span>{{loop.index}}<a href='{{ref}}'> {{pathref[2][2:]}}</a></span>
		</span>

		{% if loop.index0 % 5 == 4 %}
	</div>
	{%endif %}

	{% if loop.index == loop.length and loop.index0 % 5 != 4 %}
	</div>
	{%endif %}

	{% endfor %}

</div>

<div class="ref-nav">
	<a href="/source">
		..
	</a>
	{% if ref %}
	<a href="/source/b.{{ref[1]}}">
		{{ ref[1] }}
	</a>
	{% if ref[2] %}
	<a href="/source/b.{{ref[1]}}.{{ref[2]}}">
		{{ ref[1]}}.{{ref[2] }}
	</a>
	{% endif %}
	{% endif %}
</div>
<div class="verses" style="list-style-type: none">
	{% for item in data %}
	<div class="border my-3">
		<div class="text-secondary">
			<span class="prevent-select">
				<a href="/source/{{item['attrib'].id}}">
					{{ item.attrib.id }}
				</a>
				#{{fire[item['attrib'].id]}}
			</span>
			{% if show_verses %}
			<div>{{item.text}}</div>
			{% endif %}



			<!-- {% if show_verses and verse %}
			<div><a href="/source/{{item['attrib'].id}}">Share</a><span>{{verse.fire}}</span></div>
			{% endif %} -->
		</div>

		<!-- <form method="POST" action='/request/delete/{{item.id}}'>
					<input type="submit" value="delete"/>
			</form> -->

	</div>
	{% endfor %}
</div>
{% if words %}

<div class="lookup-summary">
	{% for word in words %}
	{{word[0]}}({{word[1]|length}})
	{% endfor %}
</div>

<div class="lookup-words">
	{% for word in words %}
	<div class="lookup-word"><small>{{loop.index}}/{{loop.length}}.<a href="/look_up/{{word[0]}}">{{word[0]}}</a></small>
	</div>

	{% for verseX in word[1] %}
	<div>
		<span class="bible-ref">{{loop.index}}/{{loop.length}}.<a href="/source/{{verseX[1]}}">{{verseX[1]}}</a></span>

		{{verseX[0]}}
	</div>
	{% endfor %}

	{% endfor %}
</div>
{% endif %}

<script>
	function sendFire(ref) {
		fetch(`/verse/${ref}`)
			.then(response => response.json())
			.then(data => console.log(data))
			.catch(error => console.error('Error:',
				error));

	}
</script>

{% endblock %}