{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Received{% endblock %}</h1>
{% endblock %} {% block content %}

<a href="/source_of_living_water">
	..
</a>
<a href="/source_of_living_water/b.{{ref[1]}}">
	{{ ref[1] }}
</a>
<div class="verses" style="list-style-type: none">
    {% for item in data %} 
    <div class="border my-3">
        <div class="text-secondary">
					<a href="/source_of_living_water/{{item['attrib'].id}}">
					{{ item.attrib.id }}
				</a>
					{% if show_verses  %}
					<div>{{item.text}}</div> 
					{% endif %}
				</div>
				
				<!-- <form method="POST" action='/request/delete/{{item.id}}'>
					<input type="submit" value="delete"/>
			</form> -->
      
    </div>
		 {% endfor %}
</div>

{% endblock %}
